.full-playlists-index {
    // padding-left: 260px;
}

.container {
//   width: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
//   background: red;
//   align-items: flex-end;
}

.new-playlist-button,
.main-nav {
 
}
.main-nav {
    // margin-right: 270px;
    // overflow: hidden;
}


.new-playlist-button {
    // position: relative;
    color: white;
    text-decoration: none;
    background: #1DB954;
    padding: 10px;
    border-radius: 50px;
    width: 123px;
    height: 15px;
    text-align: center;
    // font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 25px;
}

.new-playlist-button:hover {
    // height: 18px;
    // width: 130px;
    background: rgb(24, 212, 95);
}

.np-button-container {
    // background:yellow;
    display: flex;
    justify-content: flex-end;
}

.playlist-index-list-container {
    // background: orange;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 85px;
}

// .homePlaylistIndex {
//     padding-left: 260px; 
//     // background: linear-gradient(rgb(58,91,95), black);
//     background: purple;
//     height: 100vh;
//     margin: 0;
//     color: white;
//     opacity: 1;
// }

.homePlaylistIndex ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 260px;
}

.homePlaylistIndex ul li {
    margin: 0;
    padding: 50px 20px 70px 20px;
}

.album-art-pl-index {
    width: 180px;
    height: 180px;
    //from cssmatic.com
    -webkit-box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    transition: 0.2s;
}


.album-art-pl-index:hover {
    // width: 193px;
    // height: 193px;
    transform: scale(1.03,1.03);
    transition: 0.2s;
    //from cssmatic.com
    -webkit-box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
    box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
}

.album-art-pl-index:active {
    width: 187px;
    height: 187px;
    transition: 0.2s;
    //from cssmatic.com
    -webkit-box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
    box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
}

.playlist-title-index-page {
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    // z-index: 3;
}