// .browse-full-container {
//     display: flex;
//     justify-content: center;
// }
.browse-page-full {
    // background: orange;
    // height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 260px;
    margin-bottom: 100px;
}

.browse-aa {
     width: 180px;
    height: 180px;
    //from cssmatic.com
    -webkit-box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 24px 82px -4px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.browse-aa:hover {
    transform: scale(1.03,1.03);
    transition: 0.2s;
    //from cssmatic.com
    -webkit-box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
    box-shadow: -2px 27px 85px 8px rgba(0,0,0,0.75);
}

.browse-aa:active {
    transform: scale(0.97,0.97);
    transition: 0.2s;
    //from cssmatic.com
    -webkit-box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
    box-shadow: -2px 20px 81px -7px rgba(0,0,0,0.75);
}

.browse-title {
    font-size: 47px;
    font-family: 'spotifybold';
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    color: white;
    
}

.each-pf {
    margin: 50px;
}

.each-pf-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.each-pf-item-title {
    align-self: center;
    color: white;
    font-size: 18px;
    margin-top: 30px; 
    font-family: 'spotifybold'
}

.each-pf-item-creator {
    align-self: center;
    color: rgba(white, 0.6);
    font-size: 16px;

}

.each-pf-item-by {
    align-self: center;
    color: rgba(white, 0.6);
    font-size: 12px;
    margin-top: 10px;
}