.delete-pl-button-modal {
    color: white;
    text-decoration: none;
    background: #1DB954;
    padding: 10px;
    border-radius: 50px;
    width: 115px;
    height: 17px;
    text-align: center;
    // font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    // margin-right: 25px;
    align-self: center;
    display: inline;
    // position: relative;
    // left: 72vw;
    // margin-left: 43%;
    margin-top: 30px;
}


.delete-playlist-modal {
    font-size: 47px;
    color: white;
    margin-bottom: 0px;
    margin-top: 20px;
    font-family: 'spotifybold'
}