.ModalATP {
    background: red;
    position: absolute;
    top: 0;
    // position: fixed;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // width: 100vw;
    // height: 100vh;
}

// .entire-atp-modal {
//     background: blue;
// }