.main-nav {
    display: flex;
    justify-content: center;
    // z-index: 2;
    text-transform: uppercase;
    color:rgba(white,1);
    position: static;
    // left: 600px;
    overflow: hidden;
    font-family: 'spotifynormal';

    // width: 480px;
    // margin-left: 80vh;
    // background: red;
    // margin: 0 auto;
}

.main-nav:hover {
    
    color:rgba(white,1);

    
    // width: 200px;
    // margin-left: 80vh;
    // background: transparent;
    // margin: 0 auto;
}
.active-nav {
    .active-underline {
        background: rgb(28, 185, 93);
        width: 30px;
        height: 2px;
        margin: 0 auto;
        position: relative;
        top: 10px;
    }
}

.nav-link-items {
    padding: 10px;
    font-size: 12x; 
    font-family: 'spotifynormal';

}
.nav-text {
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'spotifynormal';

}

.nav-left-filler {
    min-width: 300px;
}